/* Colors */
:root {
  --color-primary-light: #0070cc;
  --color-primary-dark: #005499;
  --color-secondary-light: #f2f2f2;
  --color-secondary-dark: #2c2c2c;
  --color-black: #000000;
  --color-white: #ffffff;
  --default-padding: 0 8rem;
  --box-shadow: 0px 25px 25px 5px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: none;
}

body {
  border: 2rem solid var(--color-primary-light);
}

.navbar__container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: var(--color-white);
  z-index: 1;
  top: 0;
  box-shadow: var(--box-shadow);
}

.navbar__logo {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.icon {
  width: 45px;
}

.text {
  width: 70%;
  transform: translateY(6px);
}

.navbar__wrapper {
  margin: 0 auto;
  transform: translateX(-10rem);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.btn {
  outline: none;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-primary-light);
  color: var(--color-white);
  padding: 1rem 2rem;
}

.btn-secondary {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2.5rem;
  transition: all 0.2s;
}

.btn-secondary:hover {
  background-color: var(--color-secondary-light);
}

.grid__container {
  padding: var(--default-padding);
}

.grid__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 4rem 0rem;
  padding-top: 8rem;
}

.grid__wrapper--carousel {
  flex-wrap: nowrap;
  padding-top: 0;
  padding-bottom: 8rem;
}

.grid__wrapper--carousel--heading {
  padding: 2rem 0rem;
  font-size: 1.6rem;
}

.card {
  border-radius: 1rem;
}

.card--lrg {
  width: 40rem;
}

.card--s {
  width: 28rem;
}

.card__img {
  border-radius: 1rem;
  width: 100%;
}

.promo__banner--container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--default-padding);
  box-shadow: var(--box-shadow);
}

.promo__banner {
  width: 100%;
  height: 430px;
  transform: translateY(-5rem);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-self: center;
  z-index: -1;
}

.promo__banner--img {
  margin-left: 27.5%;
  width: 340px;
}

.promo__banner--content {
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 2rem;
  padding-bottom: 5rem;
}

.promo__banner--content--heading {
  padding-bottom: 3rem;
}

.spacer {
  height: 550px;
}
